.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-family: 'Encode Sans', sans-serif
}

html {
    height: 100%;
}

body {
    background-image: url(clouds.jpg);
    background-repeat: repeat;
    background-color: #afbbcb;
    min-height: 100%;
}

.navbar {
    border-radius: 5px;
    background: #076585;
    background: -webkit-linear-gradient(to left, #fff, #076585); 
    background: linear-gradient(to left, #fff, #076585); 
}

nav a {
    padding: 0.3em;
}

nav a:hover {
    background-color: #5b99ae;
    border-radius: 10px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

td {
    word-break:break-all;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.curtemp {
    font-style: italic;
}

.curtemp .tooltiptext {
    visibility: hidden;
    width: 13em;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 10%;
    z-index: 1;
}

.curtemp:hover .tooltiptext {
    visibility: visible;
}

footer {
    text-align: right;
    padding-right: 1em;
    border: 1px solid lightgrey;
    border-bottom: none;
    margin-top: 2em;
    line-height: 2em;
    width: 100%;
    border-radius: 5px;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #076585;
    background: -webkit-linear-gradient(to right, #fff, #076585); 
    background: linear-gradient(to right, #fff, #076585); 
}

.number {
    width: 20%;
    border: none;
    text-align: center;
    border-radius: 10px;
    outline-width: 0;
}

.bg-bluewhite {
    background: #076585;
    color: white;
}

h4 a {
    border-radius: 10px;
    padding: 0.4em;
    margin-bottom: 0.5em; 
}

.bg-bluewhite:hover {
    background: #0d7294bd;
    color: white;
    text-decoration: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightblue;
    text-decoration: none;
}

.card {
    display: inline-block;
    min-width: 50%;
    border: none;
    border-radius: 10px;
}

.blue-gradient {
    color: white;
    -webkit-box-shadow: 10px 9px 31px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 31px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 31px -2px rgba(0,0,0,0.75);
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.form-group {
    margin-bottom: 0;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
	margin-left: auto;
    margin-right: auto;
}

/* The slider itself */
.slider {
    margin-top: 0.3em;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1f93d2; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1f93d2; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.bg-blue {
    background: #1f93d2;
    border-radius: 8px;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.5);
}

/* CSS for select form from https://codepen.io/ericrasch/pen/zjDBx */
.soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
 }