{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}
	<!--Chart.js to graph location's most recent temperatures-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>	

	<br>
	<div class="card blue-gradient">
		<div class="card-body">
			<h2 class="card-title">
				Havaintopisteet
			</h2>
		<form id="getlocation">
			<fieldset>
				<div class="form-group">
					<select name="location" id="loc" class="selector bg-bluewhite">
						{% for l in loc %}
						<option value="{{ l.id }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="slidecontainer" id="slider">
					<input type="range" class="slider" id="range" name="range" min=2 max=50 value=2 placeholder="2"/>
				</div>
				<h5>Havaintojen lkm: <input type="number" max=50 min=2 class="number" value=2 id="slidervalue"></h5>
				<div class="form-group">
					<button class="btn btn-default bg-bluewhite" type="submit">Hae</button>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
	<br><br>

		<script src="{{ url_for('static', filename='scripts_slider.js') }}"></script>
		<div id="locrecords">
			<ul id="tempRecords" class="list-group"></ul>
			<canvas id="tempChart"></canvas>
		</div>
{% endblock %}