{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}
	<h1>Havaintopisteet</h1>
		<form action="{{ url_for('about') }}" method="post">
			<fieldset>
				<div class="form-group">
					<select name="location">
						{% for l in loc %}
						<option value="{{ l.id }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-default" type="submit">Hae</button>
				</div>
			</fieldset>
		</form>
		{% for d in data %}
			<p>Lämpötila: {{ d.temp }} Päivämäärä: {{ d.date }}</p>
		{% endfor %}
{% endblock %}