{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
	<br>
	<div class="card blue-gradient">
		<div class="card-body">
				<h2>
					Uusi lämpötila
				</h2>
		<form action="{{ url_for('add') }}" method="post">
			<fieldset>
				<div class="form-group">
					<select name="location" class="soflow">
						{% for l in loc %}
						<option value="{{ l.id }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<input type=number class="number" min=-100 max= 70 step="0.01" value=0 name="temp" placeholder="Celsius"/>
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-default bg-bluewhite" type="submit">Lisää</button>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
{% endblock %}