{% extends "layout.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}
	<h1>Historia</h1>
		<form id="gethistory">
			<fieldset>
				<div class="form-group">
					<select name="location" id="loc">
						{% for l in loc %}
						<option value="{{ l.id }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="slidecontainer" id="slider">
					<input type="range" id="days" name="days" min=0 max=30 value=1 placeholder="1"/>
				</div>
				<p id="slidervalue"></p>
				<div class="form-group">
					<button class="btn btn-default" type="submit">Hae</button>
				</div>
			</fieldset>
		</form>
		<ul id="historyresults"></ul>
		<script src="{{ url_for('static', filename='scripts_history.js') }}"></script>
{% endblock %}