{% extends "layout.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}
	<br>
	<div class="card blue-gradient">
		<div class="card-body">
				<h2>
					Sijainnin historia
				</h2>
		<form id="gethistory">
			<fieldset>
				<div class="form-group">
					<select name="location" id="loc" class="selector bg-bluewhite">
						{% for l in loc %}
						<option value="{{ l.id }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="slidecontainer" id="slider">
					<input type="range" class="slider" id="range" name="range" min=1 max=30 value=1 placeholder="1"/>
				</div>
				<h5>Päivää: <input type="number" min=1 class="number" value=1 id="slidervalue"></h5>
				<div class="form-group">
					<button class="btn btn-default bg-bluewhite" type="submit">Hae</button>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
	<br><br>
	<ul id="historyresults" class="list-group"></ul>
	<script src="{{ url_for('static', filename='scripts_slider.js') }}"></script>
{% endblock %}