{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<h1>Sää</h1>
	<table>
		<caption>Viimeiset 24 tuntia (tai viimeisin havainto)</caption>
		<thead>
			<th>Havaintopiste</th>
			<th>Max</th>
			<th>Min</th>
			<th>Uusin</th>
			<th>Viimeisin pvm</th>
		</thead>
		<br/>
		<tbody>
			{% for l in loc %}
				<tr>
					<td>{{ l.name }}</td>
					<td>{{ l.tmax }}</td>
					<td>{{ l.tmin }}</td>
					<td>{{ l.tcurrent }}</td>
					<td>{{ l.date }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}