{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<table class="table table-striped">
		<caption>24 tuntia</caption>
		<thead class="thead-dark">
			<th scope="col">Havaintopiste</th>
			<th scope="col">Max</th>
			<th scope="col">Min</th>
			<th scope="col">Keskiarvo</th>
			<th scope="col">Uusin</th>
			<th scope="col">Viimeisin pvm</th>
		</thead>
		<tbody id="indextable">
		</tbody>
	</table>
	<form action="{{ url_for('index') }}" method="post">
		<fieldset>
			<div class="form-group">
				<h4>Lisää satunnaisia lämpötiloja <small>(testaamista varten)</small></h4>
				<button class="btn btn-default" type="submit">Lisää</button>
			</div>
		</fieldset>
	</form>
	<script src="{{ url_for('static', filename='scripts_table.js') }}"></script>
{% endblock %}