{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<h1>Sää</h1>
	<table class="table table-striped table-dark">
		<caption>24 tuntia</caption>
		<thead>
			<th scope="col">Havaintopiste</th>
			<th scope="col">Max</th>
			<th scope="col">Min</th>
			<th scope="col">Nyt</th>
			<th scope"col">Viimeisin pvm</th>
		</thead>
		<tbody>
			{% for l in loc %}
				<tr>
					<th scope="row">{{ l.name }}</td>
					<td>{{ l.tmax }}°C</td>
					<td>{{ l.tmin }}°C</td>
					<td>{{ l.tcurrent }}°C</td>
					<td>{{ l.date }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<form action="{{ url_for('index') }}" method="post">
			<fieldset>
				<div class="form-group">
					<h4>Lisää satunnaisia lämpötiloja <small>(testaamista varten)</small></h4>
					<button class="btn btn-default" type="submit">Lisää</button>
				</div>
			</fieldset>
		</form>
{% endblock %}